/* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

  /* Glyphicon */
  .glyphicon-qrcode{
    /* position: fixed; */
    text-align:center;
    font-size: 100px;
    /* left: 5%; */
    /* right:  10%;  */
    /* padding-left: 5%; */
  }
  .btn{
    background-color: #242c29;
    color: white;
    text-align: center;
    /* padding: 12px 28px; */
    padding-top: 12px;
    /* padding-right: 10%; */
    border:none;
  }
  .btn:hover{
    background-color: darkorange;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border:none;
  }
  .btn:active {
    background-color: orange;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    border:none;
  }
  #buttongroup{
    position: fixed;

    /* padding-left: 5%;
    padding-right: 5%; */
    width: 100%;
    bottom: 10px;
    /* background-color: #242c29; */

  }
  #about {padding-top:50px;color: rgb(14, 13, 13); background-color: #ffffff;}
  #lockercontrol {padding-top:60px;color: rgb(14, 13, 13); background-color: #ffffff;}
  .bg-grey {
    background-color: #f6f6f6;
  }
  #dropdown-btn {
    background-color: whitesmoke;
    color: black;
  }
  #dropdown-btn:hover {
    background-color: whitesmoke;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  #qrcode-btn {
    text-align: center;
    width: 50%;
    bottom: 10px;
  }